$color-hover: rgba(7, 7, 7, 0.3);
$color-green: #4bcaff;
@mixin transition($property) {
  -moz-transition: $property;
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
$break-small: 320px;
$break-medium: 768px;
$break-large: 992px;
.b-page-header {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-hover;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  z-index: 9999;
  @include transition(all 0.3s ease);
  .b-mobile-menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: 10px;
    top: 15px;
    z-index: 9999;
    .b-btn-mobile {
      background-color: transparent;
      border: 2px solid $color-green;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: red;
      }
      i {
        color: $color-green;
      }
    }
    @media screen and(max-width:$break-large) {
      visibility: visible;
      opacity: 1;
    }
  }
  .b-logo {
    position: relative;
    text-align: left;
    max-width: 140px;
  }

  .b-page-nav {
    text-align: right;
    padding-top: 20px;
    margin-left: 10px;
    @include transition(all 0.3s ease);
    .b-item {
      display: inline;
      &:not(:first-child) {
        margin-left: 26px;
      }
      &.active {
        font-weight: 700;
        color: $color-green;
        .b-link-item {
          color: $color-green;
          &::before {
            visibility: visible;
            opacity: 1;
            width: 100%;
          }
        }
      }
      .b-link-item {
        position: relative;
        font-family: "lato";
        color: $white;
        font-size: 13px;
        background: transparent;
        padding: 50px 0;
        font-weight: 700;
        &::before {
          content: "";
          position: absolute;
          width: 0%;
          height: 4px;
          left: 0;
          top: 12%;
          background-color: $color-green;
          visibility: hidden;
          opacity: 0;
          border-radius: 4px;
          @include transition(all 0.3s ease-in-out);
        }
        &:hover {
          font-weight: 700;
          color: $color-green;
          &::before {
            visibility: visible;
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
    @media screen and (max-width: $break-large) {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      text-align: right;
      padding: 10px;
      background-color: $color-green;
      width: 30%;
      top: 0px;
      right: -5%;
      margin-top: -100px;

      .b-item {
        display: block;
        &:not(:first-child) {
          margin-left: 0px;
        }
        &.active {
          font-weight: 700;
          color: $white;
          .b-link-item {
            color: $white;
            &::before {
              visibility: hidden;
              opacity: 1;
              width: 100%;
            }
          }
        }
        .b-link-item {
          &:hover {
            font-weight: 700;
            color: $white;
            &::before {
              visibility: hidden;
              opacity: 1;
              width: 100%;
            }
          }
        }
      }
    }
    @media screen and (max-width: $break-medium) {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      text-align: right;
      padding: 10px;
      background-color: $color-green;
      width: 30%;
      top: 0px;
      right: 0px;
      margin-top: -100px;

      .b-item {
        display: block;
        &:not(:first-child) {
          margin-left: 0px;
        }
        &.active {
          font-weight: 700;
          color: $white;
          .b-link-item {
            color: $white;
            &::before {
              visibility: hidden;
              opacity: 1;
              width: 100%;
            }
          }
        }
        .b-link-item {
          &:hover {
            font-weight: 700;
            color: $white;
            &::before {
              visibility: hidden;
              opacity: 1;
              width: 100%;
            }
          }
        }
      }
    }
    @media screen and (max-width: $break-large) {
      &.responsive {
        visibility: visible;
        opacity: 1;
        z-index: 9999;
        margin-top: 0px;
      }
    }
  }

  &.sticky {
    position: fixed;
    height: 60px;
    padding: 0px 0;
    background-color: rgba(7, 7, 7, 0.7);
    z-index: 99999;
    .b-page-nav {
      text-align: right;
      padding-top: 20px;

      .b-item {
        .b-link-item {
          padding: 20px 0;
          font-weight: 700;
          &::before {
            height: 4px;
            top: -10%;
          }
        }
      }
    }
  }
}
