@import "bootstrap/functions";
@import "bootstrap/variables";
// import navbar
@import "site-navbar";
@import "site-page";
@import "site-loader";
#open-popup {
  padding: 20px;
}
.white-popup {
  position: relative;
  background: #fff;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

.mfp-iframe-holder .mfp-content {
  margin-top: 70px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4bcaff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
